<p id="notice"><%= notice %></p>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.min.js"></script>

<style type="text/css">
.table td, .table th {
    padding: 1px;
}
</style>

&nbsp;<h1>Список заданий</h1>
<br>
<div class="table-responsive" style="background-color:white;width:90%">
&nbsp;<table border=1 class="table table-bordered table-hover sortable-theme-bootstrap" data-sortable>
  <thead>
    <tr>
      <th>!</th>   
      <th>Тип</th> 
      <th>Задание</th>
      <th>Описание</th>
      <th>Добавлено</th>
      <!--<th>Изменено</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_priority ? task.task_priority : '?' %></td>
        <td><%= task.category ? task.category : '?' %></td>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.created_at.in_time_zone(+3).strftime("%d.%m %H:%M") %></td>
        <!--<td><%= task.updated_at.in_time_zone(+3).strftime("%d.%m %H:%M") %></td>-->
        <!--<td><%= link_to 'Показать', task %></td>-->
        <td><%= link_to 'изм.', edit_task_path(task) %></td>
        <td><%= link_to 'удал.', task, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>




<%= link_to 'Добавить новое задание', new_task_path, {:class => 'btn btn-primary', :style=>'color: black;'} %>
